div .container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.game-container {
  border: 3px solid rgb(36, 26, 129);
  width: 45%;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 15px;
}
h2 {
  color: rgb(26, 129, 95);
}